extends layout
append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 
block content
    h2.h2-style= fullname +" as Admin" 
    fieldset.back-color
        table.set-padding.table-style 
            thead
                tr
                    th.th-style Meeting ID
                    th.td-style Full Name
                    th.th-style User Name
                    th.td-style Date
                    th.td-style Day
                    th.td-style Time Start
                    th.td-style Time End
                    th.td-style Status
            each val, index in meetingList
                tr 
                    td.th-style=val.meetingID
                    td.td-style=val.slot ? val.slot.fullname : '-'
                    td.td-style=val.slot ? val.slot.username: '-'
                    td.td-style=val.slot ? val.slot.date: '-'
                    td.td-style=val.slot ? val.slot.day : '-'
                    td.td-style=val.slot ? val.slot.timeStart : '-'
                    td.td-style=val.slot ? val.slot.timeEnd : '-'
                    td.td-style=val.slot ? "Accepted" : "Pending"