extends layout
append links 
    li
        a(href="/user/logout") Logout 
block content
    h2.h2-style= fullname +" as Admin" 
    fieldset.back-color
        table.set-padding.table-style 
            thead
                tr
                    th.th-style Meeting ID
                    th.th-style Invitees
                    th.th-style Meeting Length
                    th.th-style Meeting Duration
                    th.th-style Meeting Frequency
                    th.td-style Status
                    th.td-style
            each val, index in meetings
                tr 
                    td.th-style=val.meetingID
                    td.td-style=val.invitees
                    td.td-style=val.meetingLength 
                    td.td-style=val.duration 
                    td.td-style=val.frequency
                    td.td-style=val.slotsStatus
                    td.td-style
                        button(data-delete-meeting-id=val.meetingID) Delete